
body{
    background:white;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

body h1{
    color: black;
    margin-left: auto;
    margin-top: 20px; 
    text-align: center;
    text-decoration: underline;
}

.feature{
    background-color: pink;
    margin-top: 30px;
    margin-bottom: 20px;
}


section.feature .featureTitle {
    background-color: black;
    display: inline-block;
    height: 25px;
    padding: 5px;
    margin: 5px;
    position: relative;

    color: white;
    text-align: center;
}

.feature .featureList{
    background-color:aquamarine; 
    display: flex;
    margin: 5px;

}

header{
    background: black;
    padding: 20px;
    padding-bottom:0; 
}
header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
}
header .logo a{
  background-image: url("images/SkWebLogoBlackBG.png");
  background-size: 200px;
  background-repeat: no-repeat;  
  display: inline-block;
  height: 65px;
  position: relative;
  text-indent: -9999999999999999px;
  top: -6px;
  width: 200px;
}
nav {
    display: flex;
    flex-direction: row;
}
nav a{
    color:white;
    text-decoration: none;
    margin: auto;
    display: inline-block;
}

nav a:hover{
    text-decoration: underline;
}


section{
    background: white;     
    color: gray;   
    padding: 20px;
    display: flex;
    flex-direction: row;
}

div{
    background: pink;
    display: inline-block;
    margin: auto;
    width: 100px;
}

ul{
    margin:0;
    padding:0;
    list-style-type: none;

}
li{
    display: inline-block;
    margin-right: 20px;
}
footer{
    background: black;
    padding: 10px 20px;
}
